.online-status{
    position: absolute;
    top: 65%;
    left: 83%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid #fff;

    &--online {
        background-color: #3ab908;
    }

    &--offline {
        background-color: #df0d0d;
    }
}



