.container {
    display: grid;
    grid-template-columns: 0.2fr 425px 0.9fr 0.9fr 0.9fr 1fr;
    grid-template-rows: 0.3fr 0.4fr 1.6fr 1fr 0.5fr;
    column-gap: 1px;
    height: 100vh;
    grid-template-areas:
    "header header header header header header"
    "sidebar search main main main info"
    "sidebar contacts main main main info"
    "sidebar contacts main main main info"
    "sidebar contacts input-box input-box input-box info";
}