.bubble-container--left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px
}

.bubble-container--right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px
}

.bubble {
    min-height: 3rem;
    max-width: 40%;
    padding: 20px;
    background: ivory;
    /* display: block; */
    border-radius: 20px;
    text-align: center;
}

.bubble-avatar {
    margin-right: 15px;
    padding-left: 15px;
}

.blurred {
    background: gray;
    filter: blur(20px);
    position: relative;
    top: -315px;
    transform: scale(1.05);
    z-index: -1;
}