.search {
  grid-area: search;
  width: 100%;
  padding: 10px;
  background-color: #f1f6fb;

  &__block {
    position: relative;
    background-color: #fff;

    &:before{
      content: '';
      cursor: pointer;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 8px;
      margin: auto 0;
      width: 20px;
      height: 20px;
      background: url('search.svg') no-repeat;
      background-size: cover;
    }

    .block__input {
      width: 100%;
      height: 50px;
      padding-right: 10px;
      text-indent: 10px;
      border-radius: 6px;
      border: none;

      &:focus {
        outline-color: #3B8DF5;
      }
    }
  }

}







