.online-status{
    position: absolute;
    top: 65%;
    left: 82%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff
}

.online-status--online {
    background-color: #3ab908;
}

.online-status--offline {
    background-color: #df0d0d;
}