.contact-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 10px
}

.contact-item__name {
    margin-right: 160px;
}

.contact-avatar {
    position: relative;
    margin-right: 25px;
}

.time {
    margin-bottom: 20px;
    font-size: 14px;
    color: #707070;
}

.contact-name {
    font-weight: 600;
    margin-bottom: 5px;

}

.contact-status {
    font-size: 14px;
    color: #707070;
}

.image-rounded {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: top cover;
}

.online-status {
    position: absolute;
    top: 65%;
    left: 82%;
    width: 10px;
    height: 10px;
    background-color: #3ab908;
    border-radius: 50%;
    border: 2px solid #fff
}

.search-input {
    width: 93%;
    padding: 15px;
    border-radius: 6px;
}