:root{

    /*light colors*/
    --color-light-blue: #f1f6fb;
    --color-white: #FFF;
    --color-dark-blue: #3B8DF5;

    /*  dark theme  */

    --color-main-bg: #293145;
    --color-items: #293145;
    --color-top-bar: #293144;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}




