.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0 4px 16px #ccc;
    transition: 0.5s;
}

.form__title {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 32px;
}

.form__subtitle {
    margin-bottom: 32px;
    text-align: center;
    color: #5F939A;
    font-weight: 300;
    font-size: 14px;
}

.btn-group__btn {

    background-color: var(--color-blue);
    letter-spacing: 1px;
    padding: 15px 24px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    color: var(--color-white);

}

.btn-group__btn:hover {
    background-color: #0476aa;
}

.btn-group__btn:active {
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);

}

.btn-group__btn:disabled {
    background-color: rgba(38, 157, 244, 0.47);
    cursor: not-allowed;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-group__btn--link {
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.form__group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;
}

.form__input {
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #5F939A;
margin-bottom: 20px;
}



.form__input:focus {
    border-bottom: 1px solid var(--color-blue);
    transition: 0.5s;
}
