.message-box__voice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 200px;
}

.voice__progress {
    position: absolute;
    display: block;
    height: 100%;
    background-color: var(--color-light-blue);
    transition: width 0.2s ease-in-out;
}

.message-box--typing {
    width: 10%;
    text-align: center;
}


.play {
    background-color: transparent;
    border: none;
    margin-right: 5px;
    width: 25px;
    height: auto;
    z-index: 5;

}

.wave-form {
    position: relative;
    margin-right: 10px;
}